.grid
  - @shops.each do |shop|
    .column-1-3.shop
      = image_tag shop.cover_url(:thumb).to_s
      %h3= shop.name

      %p= shop.description

      %ul
        - unless shop.website.blank?
          %li
            = link_to shop.website, "http://#{shop.website}", html_options = {:target => '_blank'}
        - unless shop.facebook.blank?
          %li
            = link_to shop.facebook, "http://facebook.com/#{shop.facebook}", html_options = {:target => '_blank'}
        - unless shop.instagram.blank?
          %li
            = link_to "@#{shop.instagram}", "http://instagram.com/#{shop.instagram}", html_options = {:target => '_blank'}
