%h1 Shop List

= simple_form_for @shop do |f|
  = f.input :name
  = f.input :description
  = f.input :website
  = f.input :facebook
  = f.input :instagram
  = f.file_field :cover
  = f.button :submit
