!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shoplist

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Dosis', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body

    %header
      .container
        %h1.center Shop List

        %nav.pull-right.center
          %ul
            %li= link_to "Recommend a shop", "http://goo.gl/forms/m9eDGolqjB", html_options = {target: '_blank'}
            - if user_signed_in?
              %li= link_to "Logout", destroy_user_session_path, method: :delete

    %main
      .container
        = notice if notice
        = alert if alert
        = yield

    %footer
      .container
        %p
          %small Made by @eugiellimpin
